USE [master]
GO
/****** Object:  Database [Keychain]    Script Date: 27/2/2025 10:32:02 PM ******/
CREATE DATABASE [Keychain]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Keychain', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TIENDAT\MSSQL\DATA\Keychain.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Keychain_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TIENDAT\MSSQL\DATA\Keychain_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Keychain].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Keychain]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 27/2/2025 10:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](400) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 27/2/2025 10:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductCode] [varchar](50) NOT NULL,
	[Image] [nvarchar](200) NULL,
	[Answer] [nvarchar](400) NULL,
	[MainPage] [bit] NULL,
	[KeyImageId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RandomAnswer]    Script Date: 27/2/2025 10:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RandomAnswer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Answer] [nvarchar](400) NULL,
 CONSTRAINT [PK_RandomAnswer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([Id], [Image]) VALUES (1, N'bao.png')
INSERT [dbo].[Image] ([Id], [Image]) VALUES (2, N'chimlac.png')
INSERT [dbo].[Image] ([Id], [Image]) VALUES (3, N'danisa.png')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
INSERT [dbo].[Product] ([ProductCode], [Image], [Answer], [MainPage], [KeyImageId]) VALUES (N'hpmxLCGu', NULL, NULL, 1, 3)
INSERT [dbo].[Product] ([ProductCode], [Image], [Answer], [MainPage], [KeyImageId]) VALUES (N'nINHTBPn', NULL, NULL, 1, 1)
INSERT [dbo].[Product] ([ProductCode], [Image], [Answer], [MainPage], [KeyImageId]) VALUES (N'sfKubcdE ', NULL, NULL, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[RandomAnswer] ON 

INSERT [dbo].[RandomAnswer] ([Id], [Answer]) VALUES (1, N'Tơ duyên còn vướng, chưa thể dứt bỏ.')
INSERT [dbo].[RandomAnswer] ([Id], [Answer]) VALUES (2, N'Thủy chung hữu định, nhật nguyệt luân phiên. (Mọi sự đều có định số, như mặt trời mọc rồi lại lặn.)')
INSERT [dbo].[RandomAnswer] ([Id], [Answer]) VALUES (3, N'Nhân sinh như mộng, cần gì quá bận lòng? (Đời người như giấc mộng, chớ quá bận tâm.)
')
SET IDENTITY_INSERT [dbo].[RandomAnswer] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Image] FOREIGN KEY([KeyImageId])
REFERENCES [dbo].[Image] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Image]
GO
USE [master]
GO
